<section class="component-list-view">
    <h3>Components</h3>

    <h4>Structural</h4>
    <ul>
        <li class="col-lg-2 col-md-4 col-sm-6 col-xs-12" ng-repeat="c in components |  filter: { Category: 'Structural'}">
            <div class="well">
                <a ng-href="/sitebuilder/components/{{c.SiteURL}}">
                    <figure ng-show="c.ImageURL">
                        <img class="img-responsive" ng-src="/sitebuilder/images/ComponentIcons/{{c.ImageURL}}"/>
                    </figure>
                    <div class="empty" ng-show="!c.ImageURL">
                        <span class="fa empty"><i class="fa fa-camera fa-3x"></i></span>
                    </div>
                    <h5 class="text-center">{{c.Name}}</h5>
                </a>
            </div>
        </li>
    </ul>

    <h4>Navigation</h4>
    <ul>
        <li class="col-lg-2 col-md-4 col-sm-6 col-xs-12" ng-repeat="c in components |  filter: { Category: 'Navigation'}">
            <div class="well">
                <a ng-href="/sitebuilder/components/{{c.SiteURL}}">
                    <figure ng-show="c.ImageURL">
                        <img class="img-responsive" ng-src="/sitebuilder/images/ComponentIcons/{{c.ImageURL}}"/>
                    </figure>
                    <div class="empty" ng-show="!c.ImageURL">
                        <span class="fa empty"><i class="fa fa-camera fa-3x"></i></span>
                    </div>
                    <h5 class="text-center">{{c.Name}}</h5>
                </a>
            </div>
        </li>
    </ul>

    <h4>Content</h4>
    <ul>
        <li class="col-lg-2 col-md-4 col-sm-6 col-xs-12" ng-repeat="c in components |  filter: { Category: 'Content'}">
            <div class="well">
                <a ng-href="/sitebuilder/components/{{c.SiteURL}}">
                    <figure ng-show="c.ImageURL">
                        <img class="img-responsive" ng-src="/sitebuilder/images/ComponentIcons/{{c.ImageURL}}"/>
                    </figure>
                    <div class="empty" ng-show="!c.ImageURL">
                        <span class="fa empty"><i class="fa fa-camera fa-3x"></i></span>
                    </div>
                    <h5 class="text-center">{{c.Name}}</h5>
                </a>
            </div>
        </li>
    </ul>

    <h4>Functional</h4>
    <ul>
        <li class="col-lg-2 col-md-4 col-sm-6 col-xs-12" ng-repeat="c in components |  filter: { Category: 'Functional'}">
            <div class="well">
                <a ng-href="/sitebuilder/components/{{c.SiteURL}}">
                    <figure ng-show="c.ImageURL">
                        <img class="img-responsive" ng-src="/sitebuilder/images/ComponentIcons/{{c.ImageURL}}"/>
                    </figure>
                    <div class="empty" ng-show="!c.ImageURL">
                        <span class="fa empty"><i class="fa fa-camera fa-3x"></i></span>
                    </div>
                    <h5 class="text-center">{{c.Name}}</h5>
                </a>
            </div>
        </li>
    </ul>

    <h4>Code Injection</h4>
    <ul>
        <li class="col-lg-2 col-md-4 col-sm-6 col-xs-12" ng-repeat="c in components |  filter: { Category: 'Code Injection'}">
            <div class="well">
                <a ng-href="/sitebuilder/components/{{c.SiteURL}}">
                    <figure ng-show="c.ImageURL">
                        <img class="img-responsive" ng-src="/sitebuilder/images/ComponentIcons/{{c.ImageURL}}"/>
                    </figure>
                    <div class="empty" ng-show="!c.ImageURL">
                        <span class="fa empty"><i class="fa fa-camera fa-3x"></i></span>
                    </div>
                    <h5 class="text-center">{{c.Name}}</h5>
                </a>
            </div>
        </li>
    </ul>
</section>