&lt;div class="" style=""&gt;
    &lt;div id="mediaSearchForm"&gt;
        &lt;form action="/AccelcorSiteBuilder/MediaList/Search/%7BED1AFBFD-72CB-4DE8-948F-35BF97C86CD6%7D" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-success="$__ac__(function ($) {$('.documentListing.tablesorter').tablesorter().trigger('update');});" data-ajax-update="#mediaResults" method="post"&gt;    &lt;div class="input-group"&gt;
            &lt;input class="form-control" name="query" placeholder="Search" type="text"&gt;
        &lt;span class="input-group-btn"&gt;
            &lt;button class="btn btn-info" type="submit"&gt;
                &lt;i class="fa fa-search"&gt;&lt;/i&gt;
            &lt;/button&gt;
        &lt;/span&gt;

        &lt;/div&gt;

        &lt;/form&gt;
    &lt;/div&gt;
    &lt;div id="mediaResults"&gt;
        &lt;div class="mediaListResults"&gt;
            &lt;table class="documentListing tablesorter" width="100%" border="0"&gt;
                &lt;thead&gt;
                &lt;tr&gt;
                    &lt;th scope="col" class="header"&gt;
                        &lt;a href="#"&gt;
                            Type
                        &lt;span class="sort_status"&gt;
                &lt;span class="fa fa-caret-up"&gt;&lt;/span&gt;
                &lt;span class="fa fa-caret-down"&gt;&lt;/span&gt;
            &lt;/span&gt;
                        &lt;/a&gt;
                    &lt;/th&gt;
                    &lt;th scope="col" class="header"&gt;
                        &lt;a href="#"&gt;
                            Title
                    &lt;span class="sort_status"&gt;
                        &lt;span class="fa fa-caret-up"&gt;&lt;/span&gt;
                        &lt;span class="fa fa-caret-down"&gt;&lt;/span&gt;
                    &lt;/span&gt;
                        &lt;/a&gt;
                    &lt;/th&gt;
                    &lt;th scope="col" class="header"&gt;
                        &lt;a href="#"&gt;
                            Date
                        &lt;span class="sort_status"&gt;
                &lt;span class="fa fa-caret-up"&gt;&lt;/span&gt;
                &lt;span class="fa fa-caret-down"&gt;&lt;/span&gt;
            &lt;/span&gt;
                        &lt;/a&gt;
                    &lt;/th&gt;
                    &lt;th scope="col" class="header"&gt;
                        &lt;a href="#"&gt;
                            Category
                        &lt;span class="sort_status"&gt;
                &lt;span class="fa fa-caret-up"&gt;&lt;/span&gt;
                &lt;span class="fa fa-caret-down"&gt;&lt;/span&gt;
            &lt;/span&gt;
                        &lt;/a&gt;
                    &lt;/th&gt;
                &lt;/tr&gt;
                &lt;/thead&gt;
                &lt;tbody&gt;
                &lt;tr&gt;
                    &lt;td class="dl_icon" data-sort-value="pdf"&gt;&lt;img alt="" src="/-/media/Images/Accelcor/Icons/FileTypes/icon_pdf.ashx" width="48" height="54"&gt;&lt;/td&gt;
                    &lt;td class="dl_title" data-sort-value="Proxima Nova Overview"&gt;
                        &lt;a href="/-/media/Files/SamplePDFs/ProximaNovaOverview.ashx" target="_blank"&gt;Proxima Nova Overview&lt;/a&gt;
                        &lt;br&gt;
                        &lt;span&gt;Proxima Nova Overview&lt;/span&gt;
                    &lt;/td&gt;

                    &lt;td class="dl_date"&gt;1/24/2017&lt;/td&gt;
                    &lt;td class="dl_category"&gt;&lt;/td&gt;
                &lt;/tr&gt;
                &lt;/tbody&gt;
            &lt;/table&gt;


        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;