<h3>Container</h3>

<h4>Data Options</h4>
<table class="table table-striped table-responsive">
    <tbody>
    <tr>
        <th>Option</th>
        <th>Data Type</th>
        <th>Function</th>
    </tr>
    <tr>
        <td>Fluid</td>
        <td>Checkbox</td>
        <td>Sets a full width container using bootstrap default class <code>.container-fluid</code>
        </td>
    </tr>
    <tr>
        <td>CSS ID</td>
        <td>Input</td>
        <td>Add ID</td>
    </tr>
    <tr>
        <td>CSS Class</td>
        <td>Input</td>
        <td>Add CSS class</td>
    </tr>
    <tr>
        <td>Style</td>
        <td>Input</td>
        <td>Add CSS styles (inline)</td>
    </tr>
    </tbody>
    <tfoot></tfoot>
</table>

<hr />

<h4>Allowed Components</h4>

<ul class="allowed">
    <li><a href="Accordion"><span class="badge">Accordion</span></a></li>
    <li><a href="Alert"><span class="badge">Alert</span></a></li>
    <li><a href="Billboard"><span class="badge">Billboard</span></a></li>
    <li><a href="Billboard_(Advanced)"><span class="badge">Billboard Advanced</span></a></li>
    <!--<li><a href="Billboard_Layer_Slider"><span class="badge">Billboard Layer Slider ( Billboard MVC Rendering )</span></a></li>-->
    <li><a href="Blockquote"><span class="badge">Blockquote</span></a></li>
    <li><a href="Breadcrumb"><span class="badge">Breadcrumb</span></a></li>
    <li><a href="Button"><span class="badge">Button</span></a></li>
    <li><a href="Carousel"><span class="badge">Carousel</span></a></li>
    <!--<li><a href=""><span class="badge">Copyright</span></a></li>
    <li><a href=""><span class="badge">Floating Submenu</span></a></li>
    <li><a href=""><span class="badge">Footer Navigation</span></a></li>-->
    <li><a href="Google_Search_Results"><span class="badge">Google Search Results</span></a></li>
    <li><a href="HTML"><span class="badge">HTML</span></a></li>
    <li><a href="iFrame"><span class="badge">iFrame</span></a></li>
    <li><a href="Image"><span class="badge">Image</span></a></li>
    <li><a href="Image_Grid"><span class="badge">Image Grid</span></a></li>
    <li><a href="Jumbotron"><span class="badge">Jumbotron</span></a></li>
    <li><a href="Listing"><span class="badge">Listing</span></a></li>
    <li><a href="Media_List"><span class="badge">Media List</span></a></li>
    <li><a href="Media_List_with_Search"><span class="badge">Media List with Search</span></a></li>
    <li><a href="Media_Object"><span class="badge">Media Object</span></a></li>
    <!--<li><a href=""><span class="badge">Modal Window</span></a></li>-->
    <li><a href="Navbar"><span class="badge">Navbar</span></a></li>
    <li><a href="Navbar_Alternate"><span class="badge">Navbar Alternate</span></a></li>
    <li><a href="Navbar_Jump_Menu"><span class="badge">Navbar Jump Menu</span></a></li>
    <li><a href="Navbar_Utility_Nav"><span class="badge">Navbar Utility Nav</span></a></li>
    <li><a href="Pagination_-_Pager"><span class="badge">Pagination - Pager</span></a></li>
    <li><a href="Panel"><span class="badge">Panel</span></a></li>
    <li><a href="Rich_Text_(RTE)"><span class="badge">Rich Text</span></a></li>
    <li><a href="Row"><span class="badge">Row</span></a></li>
    <li><a href="Row_(Advanced)"><span class="badge">Row Advanced</span></a></li>
    <li><a href="Scroll_to_Top"><span class="badge">Scroll to Top</span></a></li>
    <!--<li><a href=""><span class="badge">Search Box</span></a></li>-->
    <li><a href="Search_Results"><span class="badge">Search Results</span></a></li>
    <!--<li><a href=""><span class="badge">Secondary Navigation</span></a></li>
    <li><a href=""><span class="badge">Secondary Navigation Advanced</span></a></li>-->
    <li><a href="Simple_Content"><span class="badge">Simple Content</span></a></li>
    <li><a href="Social_Connect"><span class="badge">Social Connect</span></a></li>
    <li><a href="Social_Share"><span class="badge">Social Share</span></a></li>
    <li><a href="Tabset"><span class="badge">Tabset</span></a></li>
    <li><a href="Table"><span class="badge">Table</span></a></li>
    <li><a href="Thumbnail"><span class="badge">Thumbnail</span></a></li>
    <li><a href="Title"><span class="badge">Title</span></a></li>
    <li><a href="Utility_Navigation"><span class="badge">Utility Navigation</span></a></li>
    <li><a href="Video_Embed"><span class="badge">Video Embed</span></a></li>
    <li><a href="Video_Player"><span class="badge">Video Player</span></a></li>
    <li><a href=""><span class="badge text-danger">BillboardMVCRendering</span></a></li>
    <li><a href="Form"><span class="badge text-danger">Form</span></a></li>
    <li><a href="Mvc_Form"><span class="badge text-danger">Mvc Form</span></a></li>
    <li><a href="MVC_Subscription_Form"><span class="badge text-danger">MVC Subscription Form</span></a></li>
</ul>
