<h3>Google Search Results</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/google-search-results.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Container"><span class="badge">Container</span></a></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <blockquote>
            Google Custom Search enables you to create a search engine for your website, your blog, or a collection of websites.
            You can configure your engine to search both web pages and images.
            You can fine-tune the ranking, add your own promotions and customize the look and feel of the search results.
            You can monetize the search by connecting your engine to your Google AdSense account.
            <footer><a target="_blank" href="https://developers.google.com/custom-search/">https://developers.google.com/custom-search/</a></footer>
        </blockquote>
        <p></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Examples</h4>
        <h5>Site Builder</h5>
        <img class="img-responsive" src="images/googleSearchResults/example-google-search-results-sb.jpg" />
        <br />
        <h5>Web</h5>
        <img class="img-responsive" src="images/googleSearchResults/example-google-search-results-web.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/googleSearchResults/options-google-search-results.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Google Search Engine ID</td>
                <td>Input</td>
                <td>
                </td>
            </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>

<hr />
<div class="row gcse">
    <div class="col-xs-12">
        <h4>Google Search Engine ID</h4>
        <p>The Google Search Engine ID can be found in the Google account that hosts the Custom Search Engine.<br />
        Make or review selections in the Look and Feel section and click the <code>Get Code</code> button.</p>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-code.jpg" />
    </div>
</div>

<hr />
<div class="row gcse">
    <div class="col-xs-12">
        <h4>Google Control Panel | Setup</h4>
        <p>All controls for this component are managed via the Google account that hosts the Custom Search Engine.</p>

        <hr />

        <h6>Basics</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-basics.jpg" />
        <br />
        <h6>Make Money</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-money.jpg" />
        <br />
        <h6>Admin</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-admin.jpg" />
        <br />
        <h6>Indexing</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-indexing.jpg" />
        <br />
        <h6>Advanced</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-advanced.jpg" />
        <br />
    </div>
</div>

<hr />
<div class="row gcse">
    <div class="col-xs-12">
        <h4>Google Control Panel | Look and Feel</h4>
        <p>All controls for this component are managed via the Google account that hosts the Custom Search Engine.</p>

        <h6>Layout</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-layout.jpg" />
        <br />
        <h6>Themes</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-themes.jpg" />
        <br />
        <h6>Customize</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-customize.jpg" />
        <br />
        <h6>Thumbnails</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-thumbnails.jpg" />
        <br />
    </div>
</div>

<hr />

<div class="row gcse">
    <div class="col-xs-12">
        <h4>Google Control Panel | Search Features</h4>
        <p>All controls for this component are managed via the Google account that hosts the Custom Search Engine.</p>

        <h6>Promotions</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-promotions.jpg" />
        <br />
        <h6>Refinements</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-refinements.jpg" />
        <br />
        <h6>Autocomplete</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-autocomplete.jpg" />
        <br />
        <h6>Synonyms</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-synonyms.jpg" />
        <br />
        <h6>Advanced</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-search-advanced.jpg" />
        <br />
    </div>
</div>

<hr />

<div class="row gcse">
    <div class="col-xs-12">
        <h4>Google Control Panel | Statistics and Logs</h4>
        <p>All controls for this component are managed via the Google account that hosts the Custom Search Engine.</p>

        <h6>Stats</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-stats.jpg" />
        <br />
        <h6>Google Analytics</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-analytics.jpg" />
        <br />
    </div>
</div>

<hr />

<div class="row gcse">
    <div class="col-xs-12">
        <h4>Google Control Panel | Business</h4>
        <p>All controls for this component are managed via the Google account that hosts the Custom Search Engine.</p>
        <h6>Settings</h6>
        <img class="img-responsive" src="images/googleSearchResults/options-gcse-settings.jpg" />
    </div>
</div>

<hr />
<div class="row">
    <div class="col-xs-12">
        <h4>Classes</h4>
        Not applicable &mdash; third party
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        <ul class="allowed">
            <li><span class="badge text-info">Footer</span></li>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
        <p>If the Google Search Engine ID is not entered prior to saving, the component will no longer be accessible from within the Experience Editor.<br />
        To correct this, access the component from the Content Editor, enter the ID and save.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
        <h5>Placement</h5>
        <p>The Google Search Results can only be placed within a Container component. Keep this in mind when planning base layouts.</p>
    </div>
</div>