<h3>Image Grid</h3>

<h5 class="text-danger">Lightbox error when click image<br /></h5>
<code>TypeError: n(...).ekkoLightbox is not a function</code>

<br />
<br />

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/image-grid.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Container"><span class="badge">Container</span></a></li>
            <li><a href="Row"><span class="badge">Row</span></a></li>
            <li><a href="Row_Advanced"><span class="badge">Row Advanced</span></a></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Examples</h4>
        <!--<h5>Site Builder</h5>
        <img class="img-responsive" src="images/image/example-image-sb.jpg" />
        <br />
        <h5>Web</h5>
        <img class="img-responsive" src="images/image/example-image-web.jpg" />
        <table width="100%">
            <tr>
                <td width="27%"><code>img-circle</code></td>
                <td width="27%"><code>img-rounded</code></td>
                <td width="30%"><code>img-thumbnail</code></td>
            </tr>
        </table>-->
        <h5>Hover Styles - Gray Background</h5>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover1.jpg" />
            <p><em>Hover Style 1</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover2.jpg" />
            <p><em>Hover Style 2</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover3.jpg" />
            <p><em>Hover Style 3</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover4.jpg" />
            <p><em>Hover Style 4</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover5.jpg" />
            <p><em>Hover Style 5</em></p>
        </div>

        <div style="clear:both"></div>

        <h5>Hover Styles - Blue Background</h5>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover1-blue.jpg" />
            <p><em>Hover Style 1</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover2-blue.jpg" />
            <p><em>Hover Style 2</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover3-blue.jpg" />
            <p><em>Hover Style 3</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover4-blue.jpg" />
            <p><em>Hover Style 4</em></p>
        </div>
        <div class="col-xs-12 col-sm-2">
            <img class="img-responsive" src="images/imageGrid/example-image-grid-hover5-blue.jpg" />
            <p><em>Hover Style 5</em></p>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/imageGrid/options-image-grid.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Color Scheme</td>
                <td>Selection</td>
                <td>Select background style using default class options<br />
                    <ul>
                        <li>Blue background</li>
                        <li>Gray background &mdash;<code>.scheme02</code></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Gutter</td>
                <td>Selection</td>
                <td>Select No Gutter or Gutter Size using default options<br />
                    <ul>
                        <li>No Gutter</li>
                        <li>Small Gutter</li>
                        <li>Medium Gutter</li>
                        <li>Large Gutter</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Hover Style</td>
                <td>Selection</td>
                <td>Select No Hover or Hover Style using default options<br />
                    <ul>
                        <li>No Hover</li>
                        <li>Hover Style 1</li>
                        <li>Hover Style 2</li>
                        <li>Hover Style 3</li>
                        <li>Hover Style 4</li>
                        <li>Hover Style 5</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Site Builder Classes</h4>
        <code>
<pre>
#lightbox-wrapper {
    margin-bottom: 10px;
    padding-bottom: 15px;
    width: 100%;
}
#lightbox-wrapper .album-container h2 {
    border-bottom: 1px solid #666;
    color: #666;
}
.thumb-link {
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.thumb-link img {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
}
.thumb-link .thumb-caption {
    display: block;
    padding: 20px;
    position: static;
}
.thumb-link .thumb-caption h3 {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
}
.thumb-link .thumb-caption span {
    display: block;
    font-size: 13px;
}
/****/
.thumb-link .thumb-caption {
    background: #0785a4 none repeat scroll 0 0;
    color: #fff;
    display: block;
}
.thumb-link .thumb-caption h3 {
    color: #e36526;
}
.thumb-link .thumb-caption span {
    color: #fff;
}
.scheme02 .thumb-caption {
    background: #333 none repeat scroll 0 0;
}
.scheme02 .thumb-caption h3 {
    color: #fff;
}
.scheme02 .thumb-caption span {
    color: #2aabb9;
}
.album-container .row, .album-container .display-section-content {
    margin: 0;
}
.gutter-smll {
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.gutter-med {
    margin-left: -10px;
    margin-right: -10px;
}
.gutter-lrg {
    margin-left: -15px;
    margin-right: -15px;
}
.album-container [class*="col-"], .nogutter [class*="col-"] {
    padding: 0;
}
.gutter-smll [class*="col-"] {
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.gutter-med [class*="col-"] {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.gutter-lrg [class*="col-"] {
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}
.hover01 .thumb-link, .hover02 .thumb-link {
    overflow: visible;
}
.hover01 .thumb-link .thumb-caption, .hover04 .thumb-link .thumb-caption {
    height: 100%;
    width: 100%;
}
.hover01 .thumb-link .thumb-caption, .hover02 .thumb-link .thumb-caption, .hover03 .thumb-link .thumb-caption, .hover04 .thumb-link .thumb-caption {
    position: absolute;
}
.hover02 .thumb-link .thumb-caption {
    width: 100%;
}
.hover01 .thumb-link .thumb-caption {
    backface-visibility: hidden;
    left: 0;
    opacity: 0;
    padding: 0;
    text-align: center;
    top: 0;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    z-index: 10;
}
.hover01 .thumb-link:hover .thumb-caption {
    opacity: 1;
    transform: translate(15px, 15px);
}
.hover01 .thumb-link .thumb-caption h3 {
    margin-top: 32%;
}
.hover02 .thumb-link .thumb-caption {
    bottom: 0;
    left: 0;
    padding: 15px 5%;
}
.hover02 .thumb-link .thumb-caption h3 {
    margin-top: 2%;
}
.hover02 .thumb-link img {
    transition: transform 0.4s ease 0s;
    z-index: 10;
}
.hover02 .thumb-link:hover img {
    transform: translateY(-69px);
}
.hover03 .thumb-link img {
    transition: transform 0.4s ease 0s;
}
.hover03 .thumb-link:hover img {
    transform: translateY(-50px);
}
.hover03 .thumb-link .thumb-caption {
    bottom: 0;
    opacity: 0;
    top: auto;
    transform: translateY(100%);
    transition: transform 0.4s ease 0s, opacity 0.1s ease 0.3s;
    width: 100%;
}
.hover03 .thumb-link:hover .thumb-caption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
}
.hover04 .thumb-link .thumb-caption {
    backface-visibility: hidden;
    bottom: 5%;
    height: auto;
    left: 5%;
    opacity: 0;
    right: 5%;
    text-align: center;
    top: 5%;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
    width: auto;
    z-index: 10;
}
.hover04 .thumb-link:hover .thumb-caption {
    opacity: 1;
}
.hover04 .thumb-link .thumb-caption h3 {
    margin-top: 25%;
}
.hover05 .thumb-link .thumb-caption {
    background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.hover05 .thumb-link .magnify {
    background: rgba(0, 0, 0, 0) url("../images/lightbox/magnify.png") no-repeat scroll center center;
    display: block;
    height: 100%;
    width: 100%;
}
.hover05 .thumb-link, .hover05 .thumb-link .thumb-caption, .hover05 .thumb-link .magnify {
    transition: all 0.5s ease 0s;
}
.hover05 .thumb-link:hover .thumb-caption, .magnify {
    opacity: 1;
}
.hover05 .thumb-link .thumb-caption span::before {
    content: " ";
}
#lightbox-close, .download-link {
    bottom: -35px;
    cursor: pointer;
    font-size: 26px;
    height: 30px;
    position: absolute;
    right: 39px;
    text-align: center;
    text-rendering: auto;
    width: 30px;
    z-index: 1103;
}
#lightbox-close {
    color: #fff;
    display: none;
    right: 0;
}
#lightbox-close::before {
    content: "?";
    font-family: "FontAwesome";
}
#lightbox-close:hover {
    color: #d9534f;
    text-decoration: none;
}
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components &mdash; <small><em>(in Image Row)</em></small></h4>
        <ul class="allowed">
            <li><a href="Image_Grid_Image"><span class="badge">Image Grid Image</span></a></li>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
    </div>
</div>