<h3>Modal</h3>

<h4>Allowed Components</h4>

<ul class="allowed">
    <li><a href="Accordion"><span class="badge">Accordion</span></a></li>
    <li><a href="Alert"><span class="badge">Alert</span></a></li>
    <li><a href="iFrame"><span class="badge">iFrame</span></a></li>
    <li><a href="Mvc_Form"><span class="badge text-danger">MVC Form</span></a></li>
    <li><a href="Panel"><span class="badge">Panel</span></a></li>
    <li><a href="Rich_Text_(RTE)"><span class="badge">Rich Text (RTE)</span></a></li>
    <li><a href="Row"><span class="badge">Row</span></a></li>
    <li><a href="Row_Advanced"><span class="badge">Row Advanced</span></a></li>
    <li><a href="Simple_Content"><span class="badge">Simple Content</span></a></li>
    <li><a href="Social_Share"><span class="badge">Social Share</span></a></li>
    <li><a href="Tabset"><span class="badge">Tab Set</span></a></li>
    <li><a href="Thumbnail"><span class="badge">Thumbnail</span></a></li>
    <li><a href="Video_Embed"><span class="badge">Video Embed</span></a></li>
    <li><a href="Video_Player"><span class="badge">Video Player</span></a></li>
</ul>
