<h3>Navbar Menu Item</h3>

<!--<img class="img-responsive" src="images/utilityNav/options-utility-navigation-link.jpg" />-->
<img class="img-responsive" src="images/utilityNav/options-utility-navigation-link-add-link.jpg" />
<img class="img-responsive" src="images/utilityNav/options-utility-navigation-link-delete-link.jpg" />
<img class="img-responsive" src="images/utilityNav/options-utility-navigation-link-add.jpg" />
<img class="img-responsive" src="images/utilityNav/options-utility-navigation-link-delete.jpg" />
<img class="img-responsive" src="images/utilityNav/options-utility-navigation-link-move-up.jpg" />