<h3>Social Connect</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/social-connect.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Accordion"><span class="badge">Accordion</span></a></li>
            <li><a href="Container"><span class="badge">Container</span></a></li>
            <li><span class="badge text-info">Footer</span></li>
            <li><a href="Row"><span class="badge">Row</span></a></li>
            <li><a href="Row_Advanced"><span class="badge">Row Advanced</span></a></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>Use Social Connect to provide links to specific social media applications &mdash; for example when you want to link to your
        organizations facebook and twitter pages, you might put them in the header or footer areas.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Examples</h4>
        <h5>Horizontal Orientation with Hide All Labels</h5>
        <h6>Site Builder</h6>
        <img class="img-responsive" src="images/socialConnect/example-social-connect-horizontal-sb.jpg" />
        <br />
        <h6>Web</h6>
        <img class="img-responsive" src="images/socialConnect/example-social-connect-horizontal-web.jpg" />
        <br />
        <h5>Vertical Orientation with Title and Labels</h5>
        <h6>Site Builder</h6>
        <img class="img-responsive" src="images/socialConnect/example-social-connect-vertical-sb.jpg" />
        <br />
        <h6>Web</h6>
        <img class="img-responsive" src="images/socialConnect/example-social-connect-vertical-web.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/socialConnect/options-social-connect.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Title</td>
                <td>Input</td>
                <td>Enter a title header <em>(optional)</em>
                </td>
            </tr>
            <tr>
                <td>Vertical Orientation</td>
                <td>Checkbox</td>
                <td>Display links vertically
                </td>
            </tr>
            <tr>
                <td>Hide All Labels</td>
                <td>Checkbox</td>
                <td>Hide all Link Description labels
                </td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Add Icon</h4>
        <img class="img-responsive" src="images/socialConnect/options-social-connect-add.jpg" />
        <br />
        <p>To add a social media icon, click the Insert a new item icon <img src="images/icons/icon-insert-new.jpg" />.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Sort Icons</h4>
        <img class="img-responsive" src="images/socialConnect/options-social-connect-sort.jpg" />
        <br />
        <p>To reorder icons, click the Sort icon <img src="images/icons/icon-sort.jpg" />.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Add Icon Link</h4>
        <p>Once you add an icon, you must also add a link.</p>
        <img class="img-responsive" src="images/socialConnect/options-social-connect-link-add.jpg" />
        <br />
        <p>To add an icon link, click the Edits the link destination icon<img src="images/icons/icon-link-add.jpg" />.</p>

        <h5>Icon Link Settings</h5>
        <ol>
            <li>Click External Link</li>
            <li>Enter Link Description &mdash; this text renders to the right of the icon <em>(optional)</em><br />
            <p class="alert alert-danger">To hide the link description, check the Hide All Labels checkbox in Social Connect options.</p></li>
            <li>Enter the URL for social media application <em>(specific company)</em> page</li>
            <li>Set Target Window to 'New Browser' to open the link in a new tab</li>
        </ol>
        <img class="img-responsive" src="images/socialConnect/options-social-connect-link-add-settings.jpg" />
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options - Icon</h4>
        <img class="img-responsive" src="images/socialConnect/options-social-connect-link.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Icon <span class="text-danger"><em>(required)</em></span></td>
                <td>Selection</td>
                <td>Select icon using default options<br />
                    <ul>
                        <li>Delicious</li>
                        <li>Email</li>
                        <li>Facebook</li>
                        <li>Flickr</li>
                        <li>Foursquare</li>
                        <li>GooglePlus</li>
                        <li>Instagram</li>
                        <li>LinkedIn</li>
                        <li>Pinterest</li>
                        <li>RSS</li>
                        <li>Tumblr</li>
                        <li>Twitter</li>
                        <li>Yelp</li>
                        <li>YouTube</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Link</td>
                <td>Content Selector</td>
                <td>Set a link for the icon &mdash; click the Insert External Link option and follow instructions in Add Icon Link section
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Reorder Icon Links</h4>
        <img class="img-responsive" src="images/socialConnect/options-social-connect-link-reorder.jpg" />
        <br />
        <p>To reorder icons, click the up or down arrow icons <img src="images/icons/icon-reorder.jpg" />.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Delete Icon Link</h4>
        <img class="img-responsive" src="images/socialConnect/options-social-connect-link-delete.jpg" />
        <br />
        <p>To delete an icon link, click the Clears the Link icon <img src="images/icons/icon-link-delete.jpg" />.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        None
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Samples</h4>
        <h5>Horizontal Orientation &mdash; <small><em>(default)</em></small></h5>
        <code>
<pre>
&lt;div class="socialconnect" style=""&gt;
    &lt;ul class="list-inline"&gt;
        &lt;li&gt;
            &lt;a href="https://www.facebook.com/awareweb/" target="_blank" title="Facebook"&gt;
                &lt;span class="fa-stack"&gt;&lt;i class="fa fa-circle fa-stack-2x"&gt;&lt;/i&gt;&lt;i class="fa fa-facebook fa-stack-1x text-white"&gt;&lt;/i&gt;&lt;/span&gt;
                Facebook
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="https://twitter.com/AwareWeb" target="_blank" title="Twitter"&gt;
                &lt;span class="fa-stack"&gt;&lt;i class="fa fa-circle fa-stack-2x"&gt;&lt;/i&gt;&lt;i class="fa fa-twitter fa-stack-1x text-white"&gt;&lt;/i&gt;&lt;/span&gt;
                Twitter
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="https://www.linkedin.com/company-beta/203620/" target="_blank" title="LinkedIn"&gt;
                &lt;span class="fa-stack"&gt;&lt;i class="fa fa-circle fa-stack-2x"&gt;&lt;/i&gt;&lt;i class="fa fa-linkedin fa-stack-1x text-white"&gt;&lt;/i&gt;&lt;/span&gt;
                LinkedIn
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre>
        </code>
        <br />
        <h5>Vertical Orientation</h5>
        <code>
<pre>
&lt;div class="socialconnect" style=""&gt;
    &lt;h3 class="subhead"&gt;Social Connect - Vertical&lt;/h3&gt;
    &lt;ul class="list-unstyled"&gt;
        &lt;li&gt;
            &lt;a href="https://www.facebook.com/awareweb/" target="_blank" title="Facebook"&gt;
                &lt;span class="fa-stack"&gt;&lt;i class="fa fa-circle fa-stack-2x"&gt;&lt;/i&gt;&lt;i class="fa fa-facebook fa-stack-1x text-white"&gt;&lt;/i&gt;&lt;/span&gt;
                Facebook
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="https://twitter.com/AwareWeb" target="_blank" title="Twitter"&gt;
                &lt;span class="fa-stack"&gt;&lt;i class="fa fa-circle fa-stack-2x"&gt;&lt;/i&gt;&lt;i class="fa fa-twitter fa-stack-1x text-white"&gt;&lt;/i&gt;&lt;/span&gt;
                Twitter
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;a href="https://www.linkedin.com/company-beta/203620/" target="_blank" title="LinkedIn"&gt;
                &lt;span class="fa-stack"&gt;&lt;i class="fa fa-circle fa-stack-2x"&gt;&lt;/i&gt;&lt;i class="fa fa-linkedin fa-stack-1x text-white"&gt;&lt;/i&gt;&lt;/span&gt;
                LinkedIn
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre>
        </code>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-xs-12">
        <h4>Bootstrap Classes</h4>
        <code>
<pre>
.fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2em;
}
.fa-stack-1x, .fa-stack-2x {
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.fa-stack-1x {
    line-height: inherit;
}
.fa-stack-2x {
    font-size: 2em;
}
h3.subhead, .subhead h3 {
    border-bottom: 1px solid #c4c4c4;
    margin: 10px 0 15px;
    padding-bottom: 9px;
}
/*horizontal*/
.list-inline {
    list-style: outside none none;
    margin-left: -5px;
    padding-left: 0;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
/*vertical*/
.list-unstyled {
    list-style: outside none none;
    padding-left: 0;
}
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
        <p></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
    </div>
</div>