<h3>Toolbar</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/utility-navigation.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Navbar"><span class="badge">Navbar</span></a></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>Use the Toolbar to use <a href="Navbar_Search_Box_Dropdown">Navbar Search Box Dropdown</a>.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/toolbar/options-toolbar.jpg" />
        <br />
        <p>To edit content group options, click the Edit Content Group icon <img src="images/icons/icon-edit.jpg" />. </p>

        <table class="table table-striped table-responsive">
            <tbody>
            <tr>
                <th>Option</th>
                <th>Data Type</th>
                <th>Function</th>
            </tr>
            <tr>
                <td>Alignment</td>
                <td>Selection</td>
                <td>Select toolbar alignment using default class options <i class="fa fa-warning text-danger"></i><br />
                    <ul>
                        <li>Left &mdash; <code>.navbar-left</code></li>
                        <li>Right &mdash; <code>.navbar-right</code></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Clear Float</td>
                <td>Checkbox</td>
                <td></td>
            </tr>
            <tr>
                <td>CSS Class</td>
                <td>Input</td>
                <td>Add CSS class</td>
            </tr>
            <tr>
                <td>Style</td>
                <td>Input</td>
                <td>Add CSS styles (inline)</td>
            </tr>
            <tr>
                <td>CSS ID</td>
                <td>Input</td>
                <td>Add ID</td>
            </tr>
            </tbody>
        </table>
        <p class="alert alert-danger">
            <i class="fa fa-warning text-danger" style="font-size:1.5em;position:relative;top:3px"></i>
            <span>Alignment must be set here and not in Navbar Search Dropdown</span>
        </p>
    </div>
</div>


<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        <ul class="allowed">
            <li><a href="Navbar_Search_Box_Dropdown"><span class="badge">Navbar Search Box Dropdown</span></a></li>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code &amp; Classes</h4>
        <p>See <a href="Navbar_Search_Box_Dropdown">Navbar Search Box Dropdown</a> for code and classes.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
        <p>To insert the <a href="Navbar_Search_Box_Dropdown">Navbar Search Box Dropdown</a>,
            you cannot do so by clicking the <img src="images/icons/icon-insert-new.jpg" /> Insert New Item icon from within the Toolbar option toolbar.<br />
            <img class="img-responsive" src="images/toolbar/options-toolbar-add-item-not-linked.jpg" />
        </p>
        <br />
        <p>Instead, click within the Toolbar placeholder area and click the Add New button.<br />
            <img class="img-responsive" src="images/toolbar/options-toolbar-add-item.jpg" />
        </p>
    </div>
</div>


<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
        <p>The Toolbar is only a placeholder for <a href="Navbar_Search_Box_Dropdown">Navbar Search Box Dropdown</a>.</p>
    </div>
</div>