<h3>Utility Navigation</h3>

<div class="row">
    <div class="col-xs-5 text-left">
        <img class="img-responsive" src="images/icons/components/utility-navigation.png" />
    </div>
    <div class="col-xs-7 text-left">
        <h4>Allowed In</h4>
        <ul class="allowed">
            <li><a href="Container"><span class="badge">Container</span></a></li>
            <li><a href="Modal_"><span class="badge">Modal</span></a></li>
            <li><a href="Row"><span class="badge">Row</span></a></li>
            <li><a href="Row_Advanced"><span class="badge">Row Advanced</span></a></li>
            <li><span class="badge text-info">Utility Navigation</span></li>
        </ul>
    </div>
</div>

<div style="clear:both"></div>
<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Usage</h4>
        <p>Use Utility Navigation for secondary navigation menus with user defined links.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Example</h4>
        <!--<img class="img-responsive" src="images/backgroundSection/example-background-image-fmsc.jpg" />-->
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Content Group Options</h4>
        <img class="img-responsive" src="images/utilityNav/options-utility-navigation.jpg" />
        <br />
        <p>None</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Allowed Components</h4>
        <ul class="allowed">
            <li><a href="Navbar_Menu_Item"><span class="badge">Navbar Menu Item</span></a></li>
            <li><span class="badge text-info">Utility Navigation</span></li>
        </ul>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Code Sample</h4>
        <code>
<pre>
&lt;ul class="nav navbar-nav sm" style="" data-smartmenus-id=""&gt;
    &lt;li&gt;&lt;a href="/GenericSampleCompany/About" title="About"&gt;About&lt;/a&gt; &lt;/li&gt;
    &lt;li&gt;&lt;a href="/GenericSampleCompany/ResourceCenter" title="Resources"&gt;Resources&lt;/a&gt; &lt;/li&gt;
&lt;/ul&gt;
</pre>
        </code>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-xs-12">
        <h4>Classes</h4>
        <p></p>
        <code>
<pre>
.nav > li {
    display: block;
    position: relative;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
navbar-nav > li > a {
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 20px;
}
</pre>
        </code>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Tips &amp; Troubleshooting</h4>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12">
        <h4>Restrictions &amp; Dependencies</h4>
    </div>
</div>